.vscode/
.vs/

*.iml
.idea/
.externalNativeBuild/
.gradle/
gradle/
gradlew*
local.properties
build/
support/.cxx


bin/*
bin-int/
/_CPack_Packages
/CMakeScripts
/doc/doxyxml
/doc/html
/doc/node_modules
virtualenv
/Testing
/install_manifest.txt
*~
*.a
*.so*
*.xcodeproj
*.zip
cmake_install.cmake
CPack*.cmake
fmt-*.cmake
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles
FMT.build
Makefile
run-msbuild.bat
fmt.pc

.DS_Store

*.bak
*.orig
*~

build
bin
obj
release
ipch
src/scripts.c
**.lnt
**.vlstatus

Makefile
*.make
*.xcodeproj
*.xcworkspace
*.swp
*.sdf
*.sln
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.VC.opendb
*.VC.db
*.opensdf
*.workspace
*.project
*.tags
*.sublime-*
.cproject
.settings
.buildpath

*.bbprojectsettings
Scratchpad.txt
Unix Worksheet.worksheet
project.bbprojectdata
Premake4.tmproj

bin/**
bin-int/**